
* {
  font-family: "Poppins";
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.logo-name {
  font-size: 90px;
  font-style: normal;
  text-align: center;
}

.logo-img {
  margin-left: 15px;
  height: 110px;
  width: 120px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search-bar {
  border-radius: 4px;
  padding: 12px 15px;
  border-width: 1px;
  font-size: 17px;
  height: 50.5px;
  width: 630px;
  box-sizing: border-box;
  margin: 0px 10px;
  border: none;
  box-shadow: 0px 3px 10px rgb(181, 181, 181);
}

.search-bar:focus {
  outline: none;
}

button {
  transition: background-color 0.5s;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  height: 50.5px;
}

.search-btn:hover {
  background-color: #165cbe;
  cursor: pointer;
}

.search-btn {
  padding: 16px 24px;
  box-sizing: border-box;
  background-image: url("search-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 10px rgb(131, 131, 131);
}

.staples-btn {
  font-size: 18px;
  width: 105px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgb(131, 131, 131);
}

.staples-btn:hover {
  background-color: #165cbe;
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-options {
  display: block;
  cursor: default;
}

.dropdown-options {
  display: none;
  background-color: black;
  color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 6px;
  position: absolute;
  width: 92px;
  font-size: 17px;
}

input[type="checkbox"] {
  accent-color: white;
  margin: 10px;
  margin-left: 4px;
  cursor: pointer;
}

i, h1 {
  display: inline-block;
  vertical-align: middle;
}

.no-style {
  text-decoration: none;
  color: inherit;
}

.recipe-page {
  margin-top: 10px;
  padding: 20px;
}

.recipe-box {
  margin: 0 auto;
  max-width: 66%;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.main-text {
  text-align: left;
}

.ingredients-box {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingredients-list {
  list-style-type: disc;
  padding-left: 20px; 
  margin-bottom: 20px;
}

.ingredient {
  font-size: 16px;
}

.instructions-box {
  margin-top: 20px;
}

.instructions-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructions-list {
  list-style-type: decimal;
  padding-left: 20px; 
}

.step {
  font-size: 16px;
}

footer {
  color: rgb(135, 135, 135);
  text-align: center;
  position: fixed;
  bottom: 1%;
  width: 100%;
  height: 100px;
}
