
* {
  font-family: "Poppins";
}

.container {
  margin-bottom: 25px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.logo-name {
  font-size: 90px;
  font-style: normal;
  text-align: center;
}

.logo-img {
  height: 110px;
  width: 120px;
  margin-left: 15px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 7px;
}

.search-bar {
  border-radius: 4px;
  border-width: 1px;
  height: 50.5px;
  width: 750px;
  padding: 12px 12px;
  box-shadow: 0px 3px 10px rgb(181, 181, 181);
  box-sizing: border-box;
  border: none;
  font-size: 17px;
}

.search-bar:focus {
  outline: none;
}

button {
  transition: background-color 0.5s;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  height: 50.5px;
  font-size: 15px;
}

.search-btn:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}

.search-btn {
  padding: 16px 24px;
  box-sizing: border-box;
  background-image: url("search-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 10px rgb(131, 131, 131);
}

.staples-btn {
  width: 105px;
}

.diet-btn {
  width: 110px;
 }

.staples-btn, .diet-btn {
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgb(131, 131, 131);
}

.staples-btn:hover, .diet-btn:hover {
  background-color: #3e3e3e;
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .staples-options, 
.dropdown:hover .diet-options {
  display: block;
  cursor: default;
}

.staples-options, .diet-options {
  display: none;
  background-color: #1b1b1b;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  font-size: 14px;
  color: white;
  width: 105px;
}

.diet-options {
  width: 109px;
}

input[type="checkbox"] {
  accent-color: white;
  margin: 10px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

input[name="diet"] {
  margin-left: 8px;
  margin-right: 0px;
}

i, h1 {
  display: inline-block;
  vertical-align: middle;
}

.no-style {
  text-decoration: none;
  color: inherit;
}

footer {
  color: rgb(135, 135, 135);
  text-align: center;
  position: fixed;
  bottom: 1%;
  width: 100%;
  height: 100px;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipe-page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
}

.recipe-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.recipe-box {
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 65%;
}

.recipe-name {
  font-size: 28px;
  text-align: left;
  margin-bottom: 20px;
}

.recipe-image {
  width: 380px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.ingredients-section {
  margin-top: 0;
  margin-left: 10px;
}

.ingredients-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
  margin-top: 0;
}

.ingredients-list {
  list-style-type: disc;
  padding-left: 20px;
}

.instructions-section {
  margin-top: 20px;
}

.instructions-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.instructions-list {
  list-style-type: decimal;
  margin-bottom: 10px;
}
